/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #1A1A1A;
  color: #FFFFFF;
  line-height: 1.6;
  font-size: 16px;
}

/* 404 Page */
.not-found {
  text-align: center;
  margin: 100px auto;
  padding: 40px;
  background-color: #333333;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.not-found h1 {
  font-size: 6rem;
  color: #fc0404;
}

.not-found p {
  font-size: 1.2rem;
  color: #B3B3B3;
  margin-bottom: 20px;
}

.home-button {
  background-color: #fc0404;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: #b82727;
  transform: scale(1.05);
}
