.footer {
    background-color: #333; /* Dark background */
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }
  
  .footer p {
    font-size: 1rem;
    margin: 0;
  }
  