.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-attachment: fixed; /* Enables parallax effect */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('src/assets/Rifle.png'); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  max-width: 80%;
  text-align: center;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #635bff;
}

.btn-primary:hover {
  background-color: #8549e6;
}

.btn-secondary {
  background-color: #b82727;
}

.btn-secondary:hover {
  background-color: #a31e1e;
}