/* Styles for the Questionnaire component */
.Questionnaire {
    background-color: #0D0D0D; /* Dark background */
    color: #EAEAEA; /* Off-white text */
    padding: 40px;
    border-radius: 8px;
  }
  
  /* Title styling */
  .Questionnaire .title {
    color: #635bff; /* Purple color for the title */
    text-align: center;
  }
  
  /* Subtitle styling */
  .Questionnaire .subtitle {
    color: #B0B0B0; /* Light gray text */
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Form control margins */
  .Questionnaire .MuiFormControl-root {
    margin-bottom: 20px;
  }
  
  /* TextFields styling */
  .Questionnaire .MuiInputBase-root {
    background-color: #262626; /* Card background */
    color: #EAEAEA; /* Off-white text */
  }
  
  .Questionnaire .MuiInputBase-input::placeholder {
    color: #EAEAEA; /* White placeholder text */
    opacity: 1;
  }
  
  .Questionnaire .MuiFormLabel-root {
    color: #B0B0B0; /* Light gray labels */
  }
  
  .Questionnaire .MuiFormHelperText-root {
    color: red; /* Error messages in red */
  }
  
  /* Checkbox labels */
  .Questionnaire .MuiFormControlLabel-label {
    color: #EAEAEA; /* Off-white text */
  }
  
  /* Checkbox icons */
  .Questionnaire .MuiCheckbox-root .MuiSvgIcon-root {
    color: #EAEAEA; /* Off-white */
  }
  
  /* Slider thumb and track */
  .Questionnaire .MuiSlider-thumb {
    color: #635bff; /* Purple thumb */
  }
  
  .Questionnaire .MuiSlider-track {
    color: #635bff; /* Purple track */
  }
  
  /* Submit button styling */
  .Questionnaire .submit-button {
    background-color: #635bff; /* Purple background */
    color: #EAEAEA; /* Off-white text */
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .Questionnaire .submit-button:hover {
    background-color: #a73ded; /* Darker purple on hover */
  }
  