.socials {
  padding: 40px;
  background-color: #1A1A1A; /* Dark background */
  color: #FFFFFF; /* White text */
  text-align: center;
}

.socials-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #635bff; /* Purple accent for title */
}

.socials-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-link {
  color: #635bff; /* Purple color for social links */
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-link:hover {
  color: #635bff; /* Darker purple on hover */
}
