.socials-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between icons */
  flex-wrap: wrap;
}

.social-link {
  font-size: 2em; /* Size of the icons */
  color: #635bff; /* Default color */
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #ffffff; /* White on hover */
}

.socials-title {
  text-align: center; /* Centers the text */
  width: 100%; /* Ensures it spans the full width */
}
